.footer {
  padding: 1rem 2rem;
  border-top: 1px solid rgb(var(--color-secondary-300) / 0.7);

  font-size: 0.9rem;
  color: rgb(var(--color-secondary-500));

  background: rgb(var(--color-secondary-0));
}

.muted {
  opacity: 0.8;
  color: rgb(var(--color-primary-700));
}
