.footer {
  padding: 1rem 2rem;
  border-top: 1px solid hsl(var(--border));

  font-size: 0.9rem;
  color: hsl(var(--foreground));

  background: hsl(var(--background));
}

.muted {
  opacity: 0.8;
  color: hsl(var(--muted-foreground));
}
