.header {
  position: sticky;
  top: 0;
  z-index: 20;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;

  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgb(var(--color-secondary-700) / 0.8);
  background: linear-gradient(
    120deg,
    rgb(var(--color-secondary-300) / 0.8),
    rgb(var(--color-primary-900) / 0.8)
  );
  box-shadow: 0 10px 30px rgb(var(--color-secondary-900) / 0.5);
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-mark {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border: 1px solid rgb(var(--color-warning) / 0.5);
  border-radius: 100%;
}

.logo-image {
  object-fit: contain;
}

.logo-text {
  font-size: 1rem;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(var(--color-primary-900));
  text-shadow:
    1px 1px 0 rgb(var(--color-secondary-300)),
    -1px 1px 0 rgb(var(--color-secondary-300)),
    1px -1px 0 rgb(var(--color-secondary-300)),
    -1px -1px 0 rgb(var(--color-secondary-300));
}

.nav {
  display: flex;
  gap: 0.6rem;
}

.nav-link {
  font-size: 0.9rem;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  border: 1px solid transparent;

  color: rgb(var(--color-secondary-0));
  background-color: transparent;

  transition:
    background-color 0.2s ease-out,
    border-color 0.2s ease-out,
    color 0.2s ease-out,
    box-shadow 0.2s ease-out;
}

.nav-link:hover {
  border-color: rgb(var(--color-primary-400));
  background-color: rgb(var(--color-primary-0) / 0.9);
  color: rgb(var(--color-primary-900));
  box-shadow: 0 0 0 1px rgb(var(--color-primary-100) / 0.9);
}
