services:
  frontend:
    user: ${USERID}:${GROUPID}
    build:
      context: ${FRONTEND_FOLDER}
      dockerfile: ${FRONTEND_FOLDER}/dev.Dockerfile
      args:
        USERID: ${USERID}
        GROUPID: ${GROUPID}
    volumes:
      - ${FRONTEND_FOLDER}:/usr/app
  backend:
    user: ${USERID}:${GROUPID}
    build:
      context: ${BACKEND_FOLDER}
      dockerfile: ${BACKEND_FOLDER}/dev.Dockerfile
      args:
        USERID: ${USERID}
        GROUPID: ${GROUPID}
    environment:
        DB_HOST: test-db
        NODE_ENV: test
    volumes:
      - ${BACKEND_FOLDER}:/usr/app